body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 28px;
    background-color: whitesmoke;
}

h1, h2, .creator{
    text-transform: uppercase;
}

header{
    background-color: #FBC378;
    position: fixed;    
    width: 100%;
    z-index: 1;
}

nav .links {
    display: flex;
    justify-content: space-evenly;
}

nav .links a{
    text-decoration: underline;
    color: black;
}

nav .links a:hover{
    text-decoration: underline;
    color: #5F0000;
}

main{
    position: relative;
    padding-top: 80px;
}

.thqsquad a{
    text-decoration: none;
    color: black;
}

.thqsquad a:hover{
    text-decoration: underline;
    color: #5F0000;
}

.creator{
    font-size: 56px;
}

.thqsquad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.container3 h4{
    display: inline-block;
    padding: 0px 20px;
}

.container3 a{
    text-decoration: none;
    color: black;
}

.container3 a:hover{
    text-decoration: underline;
    color: #5F0000;
}

